@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    
}

/* Criação de media queries e responsividade para telas de celular*/

@media screen and (max-width:768px) {
   
    header {
        height: 20vh;
        padding: 4px;
    }

    menu {
        padding: 0;   /* opcional reduzir espaço */
        display: flex;
        justify-content: center;
    }

    ul {
        display: flex;
        flex-direction: row ;
        flex-wrap: nowrap;
        gap: 6px;
        list-style-type: none;
        
    }

    li {
        align-self: center;
        font-size: 0.9em;
        /* remover width fixa pra não quebrar */
        /* width: 80px; */
        /* margin: 0; */
    }
    
    main{
        width: 100%;
        height: 100%;
        
    }
    img{
        width: 55%;
        padding-left: 20px;
    }

    /* deixando os itens flexiveis */
.links2{
    flex: initial;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
a{
    font-size: .7em;
}


.centrap{
text-align: left;
flex: auto;
font-size: 1.2em;
}

.contato{
font-size: .9em;
    padding: 10px;
}

}

 /* para telas maiores que celulares  */
@media screen and (min-width: 768px) {
    body{
         
        background-image: url(../imagens/vagabond.png);
      background-attachment: fixed;
      background-position: right bottom;
      
      
    
    }
    
}
